:root {
    --background-gray: #3c3f41;
    --background-darkgray: #2b2b2b;
    --background-black: #171717;
    --font-lighter-green: #629755a1;
    --font-light-green: #629755;
    --font-green: #78d561;
    --font-gold: #e8b923;
    --background-silver: #919191;
    --font-light-gray: #adadad;
    --background-white: #dedede;
    --button-red: #aa0000;
    --button-red-hover: #ff0000;
    --button-red-active: #cf3632;
    --button-red-invalid: rgba(204, 49, 47, 0.57);
    --button-green: #56ac56;
    --button-green-hover: #98ff6b;
    --button-green-active: #5eb35e;
}
.background-gray {
    background-color: var(--background-gray);
}
.background-darkgray {
    background-color: var(--background-darkgray);
}
.background-black {
    background-color: var(--background-black);
}
.font-black {
    color: var(--background-black);
}
.font-red {
    color: var(--button-red-hover);
}
.font-lighter-green {
    color: var(--font-lighter-green);
}
.font-light-green {
    color: var(--font-light-green);
}
.font-green {
    color: var(--font-green);
}
.font-gold {
    color: var(--font-gold);
}
.font-light-gray {
    color: var(--font-light-gray);
}
.background-white {
    background-color: var(--background-white);
}
.shadow-bottom {
    box-shadow: 0 0 20px 0;
}