body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-form-size-large {
    align-items: initial;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.form-size-small {
    width: 550px;
    height: 324px;
}
.form-size-medium {
    width: 800px;
    height: 400px;
}
.form-size-large {
    width: 100%;
    margin: 109px 30px 30px;
    justify-content: flex-start;
}
.form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 75%;
}
.form-input {
    width: 89%;
    font-size: 1.5em;
    height: 1.8em;
    padding-left: 5px;
    border-radius: 10px;
    border: 2px solid var(--font-light-gray);
    outline: none;
    margin-top: 15px;
}
.form-input-textarea {
    height: 100%;
    resize: none;
}
.form-input-checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.form-input-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.input-invalid {
    border: 2px solid var(--button-red);
    background-color: var(--button-red-invalid);
}
.input-invalid::placeholder {
    color: var(--button-red);
}
.input-valid {
    border: 2px solid var(--button-green);
}
.input-valid::placeholder {
    color: var(--button-green);
}
#internal-error-msg, #alert-internal-error-msg,
#alert-beitrag-internal-error-msg, #alert-delete-beitrag-internal-error-msg {
    visibility: hidden;
}
.form-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 25%;
}
.form-tabs-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.form-tab {
    width: 100%;
    flex-grow: 1;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--font-light-gray);
    color: var(--background-darkgray);
}
.form-tab:hover {
    background-color: var(--background-silver);
}
.form-tab:active {
    background-color: var(--background-darkgray);
    color: var(--background-white);
}
.form-tab-active {
    text-decoration: underline;
    color: var(--background-white);
    background-color: var(--background-gray);
}
.form-tab-active:hover {
    color: var(--background-white);
    background-color: var(--background-gray);
}
.form-tab-content {
    width: 80%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}