header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 150;
}
nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.header-title-container {
    width: 50%;
    text-align: center;
}
.header-button {
    display: flex;
    font-size: 1.5em;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--font-light-green);
}
.header-button:hover {
    color: var(--font-green);
}
.button-active {
    color: var(--font-green);
    background-color: var(--background-black);
    text-decoration: underline;
}