.list-scrollable-container {
    display: flex;
    height: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#list-scrollable-container-startpage {
    margin: 100px 30px 50px;
    display: flex;
    height: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.list-scrollable {
    overflow: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 20px 0;
    border: 2px solid var(--font-light-gray);
}
.list-element {
    display: flex;
    border-radius: 5px;
    height: 130px;
    margin-bottom: 20px;
}
.list-element-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
}
.list-element-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.list-element-header h2 {
    width: 700px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
.list-element-header h2:hover {
    text-decoration: underline;
}
.list-element-header span {
    font-style: italic;
    color: var(--background-silver);
}
.list-element-description {
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    position: relative;
    border-top: 1px solid var(--font-light-gray);
    height: 100%;
}
.list-element-description:after {
    background: linear-gradient(to top,
    var(--background-white) 13%,
    rgba(255,255,255, 0) 86%
    );
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.list-element-with-buttons {
    display: flex;
    flex-direction: row;

}
.list-element-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-left: 1px solid var(--font-light-gray);
}
.list-element-buttons i {
    font-size: 36px;
    margin-left: 2px;
    margin-right: 2px;
}
#last-list-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
}
#last-list-element .spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#last-list-element .spinner > div {
    background-color: var(--background-white);
}
#last-list-element .list-message {
    color: var(--font-light-gray);
    font-size: 1.5em;
}
#last-list-element .list-message.list-message-show {
    display: block;
}
#last-list-element .list-message.list-message-hide {
    display: none;
}