html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    font-family: sans-serif;
}
.custom-button {
    color: var(--background-white);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--background-black) 0 0 5px 0;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    height: 18px;
}
.custom-button:hover {
    color: var(--background-darkgray);
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
}
.custom-button:active {
    box-shadow: none;
    transition: background 0s, box-shadow 0s;
}
.button-red {
    background-color: var(--button-red);
}
.button-red:hover {
    background-color: var(--button-red-hover);
}
.button-red:active {
    background-color: var(--button-red-active);
}
.button-green {
    background-color: var(--button-green);
}
.button-green:hover {
    background-color: var(--button-green-hover);
}
.button-green:active {
    background-color: var(--button-green-active);
}
.button-silver {
    background-color: var(--background-silver);
    color: var(--background-darkgray);
}
.button-silver:hover {
    background-color: var(--background-gray);
    color: var(--background-white);
}
.button-silver:active {
    background-color: var(--background-darkgray);
}
#opacity-layer {
    z-index: 100;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    display: flex;
    cursor: pointer;
}
.alert-dialog {
    visibility: hidden;
    z-index: 101;
    cursor: initial;
    position: fixed;
    top: 100px;
}



/*-------------------------------- http://tobiasahlin.com/spinkit/ ------------------------------------*/
.spinner {
    width: 35px;
    text-align: center;
}

.spinner > div {
    width: 9px;
    height: 9px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}