.body-thema-detail {
    height: fit-content;
    display: flex;
}
.thema-not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
}
.thema-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 110px 30px 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.thema-title {

}
.thema-description {
    border-top: 1px solid var(--font-light-gray);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.thema-button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid var(--font-light-gray);
    padding-top: 20px;
    padding-bottom: 20px;
}
.post-container {
    border-top: 2px solid var(--background-darkgray);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.post-layer {
    border-left: 4px solid var(--font-light-gray);
    padding-left: 30px;
}
.single-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 5px;
}
.single-post h3 {
    margin-top: 18px;
    margin-bottom: 5px;
}
.single-post h3 span {
    font-style: italic;
    color: var(--background-silver);
    font-size: 0.6em;
    margin-left: 5px;
}
.single-post h3.post-user-deleted {
    font-style: italic;
    color: var(--background-silver);
}
.post-content {

}
.post-content.post-content-deleted {
    font-style: italic;
    color: var(--background-silver);
}
.answer-delete-button-container {
    display: flex;
}
.answer-delete-button-container .fa-trash-o {
    font-size: 23px;
    margin-left: 5px;
    cursor: pointer;
}
.answer-button {
    background-color: var(--background-gray);
    color: var(--font-green);
    padding: 2px 5px;
    border-radius: 2px;
    cursor: pointer;
}
.answer-button:hover {
    text-decoration: underline;
}